.operation {
  .toolbar {
    background-color: rgb(243, 242, 241);
    border-color: #d6d6d6;
    color: #505050;
    .ms-Stack {
      height: 100%;
      .ms-Button {
        background-color: transparent;
      }
      .ms-Button:hover {
        background-color: #d4e0f4;
      }
      .ms-Button:active {
        background-color: transparent;
      }
    }
  }
  .body {
    overflow: hidden;
    background-color: #fff;
    -webkit-user-select: none;
    .left-sider {
      float: left;
      .left-sider-bar {
        position: absolute;
        width: 30px;
        height: 100%;
        background-color: #edecea;
        left: 0;
        line-height: 24px;
        word-wrap: break-word;
        color: #7a7a7a;
        font-size: 12px;
        padding: 0;
        margin: 0;
        ul {
          list-style: none;
          margin: 0;
          width: 100%;
          padding-left: 0;
          li {
            margin-bottom: 2px;
            a {
              text-decoration: none;
              padding: 10px 0;
              color: #696969;
              position: relative;
              text-align: center;
              word-break: break-all;
              display: inline-block;
              white-space: normal;
              width: 100%;
              span {
                width: 16px;
                white-space: normal;
                word-break: break-all;
                display: inline-block;
                line-height: 16px;
                font-size: 12px;
              }
            }
            a:hover{
              background-color: #d4e0f4;
              cursor: pointer;
            }
            a.active {
              border-left: 4px solid #48aff0;
              background-color: #fff;
              color: #444444;
              span {
                margin-left: -8px;
              }
            }
            a.active:hover {
              background-color: #fff;
            }
          }
        }
      }
      .left-body {
        height: 100%;
        margin-left: 34px;
        padding: 0 5px;
        .ms-SearchBox {
          height: 28px;
          font-size: 12px;
        }
        .left-drag-content {
          height: calc(100% - 28px);
          overflow-y: auto;
          font-size: 12px;
          color: #3a342a;
          padding-top: 5px;
          .left-drag-item {
            margin: 2px 2px 8px;
            .ms-Stack {
              min-width: auto;
              cursor: pointer;
              .tag-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
          .left-drag-item:hover {
            background-color: #e4e8ea;
          }
        }
      }
    }
    .sash {
      position: absolute;
      top: 78px;
      right: auto;
      bottom: 0;
      left: auto;
      cursor: col-resize;
      width: 4px;
      margin-left: -4px;
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
      z-index: 1;
      border-left: 1px solid #dad2d2;
    }
    .sash:hover {
      background-color: rgba(0,0,0,.05);
    }
    .right-body {
      display: inline-block;
      .board {
        .nav-tabs {
          height: 26px;
          line-height: 26px;
          margin-top: 2px;
          box-shadow: inset 0 -1px 0 0 #5182E4;
          padding: 0 10px;
          background-color: #fff;
          margin-left: -5px;
          .tab-wrap {
            width: 120px;
            height: 100%;
            padding: 0 4px;
            margin-left: -4px;
            overflow: hidden;
            cursor: pointer;
            display: inline-block;
            .tab-left {
              width: 8px;
              height: 25px;
              float: left;
              background: linear-gradient(
                              to bottom right,
                              rgba(0, 0, 0, 0) 0%,
                              rgba(0, 0, 0, 0) calc(50% - 1px),
                              #eef2fc 50%,
                              #eef2fc calc(50% + 1px),
                              #eef2fc 100%
              );
            }
            .tab-right {
              width: 8px;
              height: 100%;
              float: right;
              margin-top: -26px;
              background: linear-gradient(
                              to top right,
                              #eef2fc 0%,
                              #eef2fc calc(50% - 1px),
                              #eef2fc 50%,
                              rgba(0, 0, 0, 0) calc(50% + 1px),
                              rgba(0, 0, 0, 0) 100%
              );
            }
            .tab-content {
              margin-left: 8px;
              width: calc(100% - 16px);
              height: calc(100% - 2px);
              background-color: #eef2fc;
              border-top: 1px solid #eef2fc;
              font-size: 13px;
              overflow: hidden;
              .tab-name {
                width: calc(100% - 16px);
                display: inline-block;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              i {
                float: right;
                display: none;
              }
            }
          }
          .tab-wrap:hover {
            .tab-content {
              i {
                display: inline-block;
                font-weight: 600;
                color: #312c2c;
              }
              i:hover {
                color: red;
              }
            }
          }
          .tab-wrap:not(.active):hover {
            .tab-left {
               background: linear-gradient(
                               to bottom right,
                               rgba(0, 0, 0, 0) 0%,
                               rgba(0, 0, 0, 0) calc(50% - 1px),
                               #d4e0f4 50%,
                               #d4e0f4 calc(50% + 1px),
                               #d4e0f4 100%
               );
             }
            .tab-right {
              background: linear-gradient(
                              to top right,
                              #d4e0f4 0%,
                              #d4e0f4 calc(50% - 1px),
                              #d4e0f4 50%,
                              rgba(0, 0, 0, 0) calc(50% + 1px),
                              rgba(0, 0, 0, 0) 100%
              );
            }
            .tab-content {
              border-top: 1px solid #d4e0f4;
              background-color: #d4e0f4;
            }
          }
          .active {
            .tab-left {
              height: 26px;
              box-shadow: inset 0 -1px 0 0 #fff;
              background: linear-gradient(
                              to bottom right,
                              rgba(0, 0, 0, 0) 0%,
                              rgba(0, 0, 0, 0) calc(50% - 1px),
                              rgb(81, 130, 228) 50%,
                              rgba(0, 0, 0, 0) calc(50% + 1px),
                              rgba(0, 0, 0, 0) 100%
              );
            }
            .tab-right {
              box-shadow: inset 0 -1px 0 0 #fff;
              background: linear-gradient(
                              to top right,
                              rgba(0, 0, 0, 0) 0%,
                              rgba(0, 0, 0, 0) calc(50% - 1px),
                              rgb(81, 130, 228) 50%,
                              rgba(0, 0, 0, 0) calc(50% + 1px),
                              rgba(0, 0, 0, 0) 100%
              );
            }
            .tab-content {
              border-top: 1px solid #769fea;
              background-color: #fff;
              border-bottom: 1px solid #fff;
              color: #5181e4;
            }
          }
        }
      }
      .sash-down {
        position: absolute;
        top: 78px;
        right: auto;
        bottom: 0;
        left: auto;
        cursor: row-resize;
        margin-left: -4px;
        transform: translateX(-2px);
        z-index: 1;
        border-top: 1px solid #dad2d2;
        height: 4px;
      }
      .sash-down:hover {
        background-color: rgba(0,0,0,.05);
      }
    }
  }
}
